@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Introduction</p>

<br/>

<p>This website was established in 2020. It screens various IT training institutions and provides various high-quality IT training courses, including popular programming language training, advanced AI course training and so on.</p>

