@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>iIT Training Club</h1>
    <p class="lead">iIT Traning Club is a club focusing on IT industry training, providing training on different IT skills including JAVA, Python, etc.</p>
    <!--  <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>  -->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>JAVA</h2>
        <p>
            This Java Training in Melbourne covers the entire Java Programming course.
        </p>
        <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>  -->
    </div>
    <div class="col-md-4">
        <h2>Python</h2>
        <p>Learn the fundamentals of the Python programming language, along with programming best practices.</p>
        <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>  -->
    </div>
    <div class="col-md-4">
        <h2>SQL</h2>
        <p>Learn to determine, create, and execute SQL and NoSQL queries that manipulate and dissect large scale datasets.</p>
        <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>  -->
    </div>
    </div>
